/* Main Container */
/* ----- */
.ob_gMCont
{
    position: relative;
}

* html .ob_gMCont
{
    #overflow: hidden;
}

.ob_gMCont_DT
{
    overflow: hidden;
}

/* Left Side (Border) - used when grouping is enabled */
.ob_gBLSWG
{
    position: absolute;
    top: 46px;
    bottom: 16px;
    left: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(left_side.png);
    background-repeat: repeat-y;
    z-index: 31;
}

.ob_gBLSWG_EL_H, .ob_gBLSWG_EL_TF
{
    top: 81px;
}

.ob_gBLSWG_EL_HTF
{
    top: 116px;
}

/* Left Side (Border) - used when grouping is disabled */
.ob_gBLS
{
    position: absolute;
    top: 17px;
    bottom: 16px;
    left: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(left_side.png);
    background-repeat: repeat-y;
    z-index: 31;
}

.ob_gBLSW_EL_H, .ob_gBLSW_EL_TF
{
    top: 46px;
}

.ob_gBLSW_EL_HTF
{
    top: 81px;
}

* html .ob_gBLSWG, * html .ob_gBLS
{
    -background-image: url(left_side.gif);
}

/* Right Side (Border) - used when grouping is enabled */
.ob_gBRSWG
{
    position: absolute;
    top: 46px;
    bottom: 16px;
    right: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(right_side.png);
    background-repeat: repeat-y;    
    z-index: 31;
}

.ob_gBRSWG_EL_H, .ob_gBRSWG_EL_TF
{
    top: 81px;
}

.ob_gBRSWG_EL_HTF
{
    top: 116px;
}

/* Right Side (Border) - used when grouping is disabled */
.ob_gBRS
{
    position: absolute;
    top: 17px;
    bottom: 16px;
    right: -5px;
    margin-top: 0px;
    margin-bottom: 0px;    
    width: 10px;
    font-size: 1px;
    background-image: url(right_side.png);
    background-repeat: repeat-y;
    z-index: 31;
}

.ob_gBRSW_EL_H, .ob_gBRSW_EL_TF
{
    top: 46px;
}

.ob_gBRSW_EL_HTF
{
    top: 81px;
}

* html .ob_gBRSWG, * html .ob_gBRS
{
    -background-image: url(right_side.gif);
}





/* Common */
/* ------ */

.ob_gC
{
    white-space: nowrap;
    cursor: default;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.ob_gC_I
{
    display: none;
    white-space: nowrap;
    cursor: default;
    padding: 0px;
    margin: 0px;
}

.ob_gCW
{
    white-space: normal;
    cursor: default;
    vertical-align: middle;
}

.ob_gCW_I
{
    display: none;
    white-space: normal;
    cursor: default;
}

.ob_gC div.ob_gCc2
{
    white-space: nowrap;
}

.ob_gCW div.ob_gCc2
{
    white-space: normal;
}

.ob_gC div.ob_gCc2, .ob_gCW div.ob_gCc2, .ob_gC div.ob_gCc2C, .ob_gCW div.ob_gCc2C, .ob_gC div.ob_gCc2R, .ob_gCW div.ob_gCc2R
{
    padding: 0px;
    /*padding-top: 2px;*/
    padding-left: 20px;
    margin-right: 3px;
    position: static;
    width: auto;
    overflow: hidden;
}

.ob_gC div.ob_gCc2C, .ob_gCW div.ob_gCc2C
{
    text-align: center;
}

.ob_gC div.ob_gCc2R, .ob_gCW div.ob_gCc2R
{
    text-align: right;
}

.ob_gH div.ob_gCc2, .ob_gH div.ob_gCc2C, .ob_gH div.ob_gCc2R
{
    margin-right: 16px;
}

.ob_gC_Fc div.ob_gCc2, .ob_gC_Fc div.ob_gCc2C, .ob_gC_Fc div.ob_gCc2R
{
    /*padding-left: 25px;*/
    padding-left: 20px;
}

.ob_gC_Lc div.ob_gCc2, .ob_gC_Lc div.ob_gCc2C, .ob_gC_Lc div.ob_gCc2R
{
    margin-right: 12px;
}

.ob_gH .ob_gC_Lc div.ob_gCc2, .ob_gH .ob_gC_Lc div.ob_gCc2C, .ob_gH .ob_gC_Lc div.ob_gCc2R
{
    margin-right: 26px;
}


.ob_gCd
{
    display: none;
}

.ob_gD
{
    display: none;
}

/* Resize lines */
.ob_gRL
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 1px;
    background-color: #B9C9D7;
    font-size: 1px;
    z-index: 999;
}

/* Resize tooltip */
.ob_gRT
{
	cursor: default;		
	margin: 0px;
	padding: 1px;
	border: 1px solid #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;	
	height: 12px;
	margin-top: -10px;		
	top: 0px;
	vertical-align: middle;
	background-color: #F5F5DC;
	position: absolute;
	z-index: 999;
}
.ob_gRT span
{
	padding-left: 3px;
}





/* Header */
/* ------ */

/* Container for the header - used when grouping is disabled */
.ob_gHContWG
{
    position: relative;
    overflow: hidden;    
    margin-left: 5px;
    margin-right:5px;
}

* html .ob_gHContWG
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

/* Container for the header - used when grouping is enabled */
.ob_gHCont
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gHCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gHICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gHICont, .ob_gMCont_DT .ob_gHICont
{
    width: 100%;
}

.ob_gMCont_DT .ob_gHICont
{
    height: 25px;
}

.ob_gH
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gHR
{
}

.ob_gHContWG .ob_gH .ob_gC, .ob_gHContWG .ob_gH .ob_gCW
{
    background-image: url(header_without_grouping.png);
    background-repeat: repeat-x;
    background-color: #A8AEBD;
    height: 25px;
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #01354d;
	text-align: left;
	cursor: pointer;
}


.ob_gHCont .ob_gH .ob_gC, .ob_gHCont .ob_gH .ob_gCW
{
    background-image: url(header.png);
    background-repeat: repeat-x;
    background-color: #A8AEBD;
    height: 25px;
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #01354d;
	text-align: left;
	cursor: pointer;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gCc1, .ob_gHContWG .ob_gH .ob_gCW div.ob_gCc1
{
    padding-bottom: 6px;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gCc1_F, .ob_gHContWG .ob_gH .ob_gCW div.ob_gCc1_F
{
    _margin-top: 3px;
}

.ob_gHCont .ob_gH .ob_gC div.ob_gCc1, .ob_gHCont .ob_gH .ob_gCW div.ob_gCc1
{
    padding-bottom: 6px;
}

.ob_gH .ob_gC div.ob_gCc1, .ob_gH .ob_gCW div.ob_gCc1
{
    position: relative;
}

.ob_gH .ob_gC div.ob_gCc1_F, .ob_gH .ob_gCW div.ob_gCc1_F
{
    _margin-top: 3px;
}

.ob_gMCont_DT .ob_gH div.ob_gCc1
{
    margin-top: -6px;
}

.ob_gHContWG .ob_gH .ob_gC div.ob_gHSI, .ob_gHContWG .ob_gH .ob_gCW div.ob_gHSI
{
}

.ob_gHCont .ob_gH .ob_gC div.ob_gHSI, .ob_gHCont .ob_gH .ob_gCW div.ob_gHSI
{
    
}

.ob_gH .ob_gC div.ob_gHSI, .ob_gH .ob_gCW div.ob_gHSI
{
    position: absolute;
    height: 15px;
    right: 2px;
    top: 50%;    
    margin: 0px;
    margin-top: -11px;
    margin-top /*\**/: -10px\9;
    #margin-top: -11px;
    -margin-top: -14px;    
}

.ob_gH .ob_gC div.ob_gHSI_F_D, .ob_gH .ob_gCW div.ob_gHSI_F_D
{
    margin-top: -10px;
}

.ob_gH .ob_gC_Lc div.ob_gHSI
{
    right: 12px;
}

.ob_gH .ob_gC div.ob_gHSI_F, .ob_gH .ob_gCW div.ob_gHSI_F
{
    position: absolute;
    height: 15px;
    right: 2px;
    top: 50%;    
    margin: 0px;
    margin-bottom: auto;
    #margin-top: -14px;
    -margin-top: -13px;
}

/* Cells separator */
.ob_gHCont .ob_gCS, .ob_gHContWG .ob_gCS, .ob_gHCont .ob_gCS_F, .ob_gHContWG .ob_gCS_F
{
    position: absolute;
    top: 0px;    
    font-size: 1px;
    cursor: e-resize;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: -1px;
    background-color: Transparent !important;
}

.ob_gHCont .ob_gCS, .ob_gHContWG .ob_gCS
{
    bottom: 0px;
}

.ob_gHCont .ob_gCS div, .ob_gHCont .ob_gCS_F div
{
    background-color: #EEEEEE;
}

.ob_gHContWG .ob_gCS div, .ob_gHContWG .ob_gCS_F div
{
    background-color: #EEEEEE;
}

.ob_gHCont .ob_gCS div, .ob_gHContWG .ob_gCS div, .ob_gHCont .ob_gCS_F div, .ob_gHContWG .ob_gCS_F div
{
    width: 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
}





/* Body */
/* ------ */
.ob_gBCont
{
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gBCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gBICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gBICont, .ob_gMCont_DT .ob_gBICont
{
    width: 100%;
}

.ob_gBody
{
    border-collapse: collapse;
    table-layout: fixed;
}

/* Row - Normal state */
.ob_gR
{
	background-image: url(row1.png);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#E5E5E5;	
	color: #2b4c61;
}

/* Row - Alternate state */
.ob_gRA
{
	background-image: url(row2.png);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#ffffff;
	color: #2b4c61;
}


/* Row - Selected state */
.ob_gRS
{
	background-image: url(row_selected.png);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#E7F9FE;
	color: #063e61;
}

/* Row - Hover state */
.ob_gRH
{
	background-image: url(row_hover.png);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#D8F5FE;
	color: #063e61;
}

.ob_gBody .ob_gC, .ob_gBody .ob_gCW
{
    height: 25px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.ob_gBody .ob_gC div.ob_gCc1, .ob_gBody .ob_gCW div.ob_gCc1
{    
    #overflow: visible;
    #overflow-x: hidden;
    /*position: relative;*/
    padding-top: 2px;
    padding-bottom: 2px;
}

.ob_gRGF .ob_gC, .ob_gRGF .ob_gCW
{
    color: #704803;
}

.ob_gBCont .ob_gCS, .ob_gBCont .ob_gCS_F
{
    position: absolute;
    top: 0px;
    width: 1px;
    background-color: #EEEEEE;
    font-size: 1px;
    z-index: 10;
}

.ob_gBCont .ob_gCS
{
    bottom: 0px;
}

/* Container for the loading message displayed during a callback */
div.ob_gBLM, div.ob_gBLM_F
{
    position: absolute;
	background-color: #F6F7F7;
	left: 0px;
	right: 0px;
	top: 0px;
	text-align: center;
	z-index: 30;
	width: 100%;

}
div.ob_gBLM
{
    bottom: 0px;
}
div.ob_gBLM div, div.ob_gBLM_F div
{    
    position: absolute;
    font-family: Verdana;
	font-size: 10px;
	color:#0C416F;
	height: 10px;
	top: 50%;	
	margin-top: -5px;	
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

/* Action links */
a.ob_gAL
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;
	text-decoration:none;
}

/* Action links - hover state */
a.ob_gAL:hover
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;				
	text-decoration:underline;		
}

/* Cell - temporary added (multi-record adding) */
.ob_gCTA
{
    color: #2a8b03;
}

/* Cell - temporary edited (multi-record editing) */
.ob_gCTE
{
    color: #b81336;
}

/* Cell - temporary deleted (multi-record deleting) */
.ob_gCTD
{
    color: #777d81;			
	text-decoration: line-through;
}

/* Group header - container */
.ob_gRGH
{
	background-image: url(record_group_header.png);
	height: 25px;
}

/* Group header - inner container */
.ob_gRGHI
{
    position: relative;
    height: 25px;
    z-index: 15;
    background-image: url(record_group_header.png);
    /*padding-left: 5px;
    padding-right: 5px;*/
}

/* Group header - content*/
.ob_gRGHC
{
	cursor: default;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;	
	height: 25px;	
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
	border: 0px;
	float: left;
	line-height: 25px;
}

/* Group header - Expand/Collapse button */
.ob_gRGHB 
{	
	padding: 0px;
	padding-left: 0px;
	padding-right: 3px;	
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	height: 25px;
	font-size: 1px;
	float: left;
}	
.ob_gRGHB img
{
	height: 25px;
	cursor: pointer;
	margin: 0px;
	font-size: 1px;
}

/* Group header - Left side spacer */
.ob_gRGBS
{
	width: 23px;
	height: 25px;
	font-size: 1px;
	text-align: right;
	background-image: url(record_group_header_padding.png);
	float: left;
}
.ob_gRGBS div
{
	background-image: url(record_group_header_padding_right.png);
	height: 25px;
	width: 11px;
	margin-left: 12px;
}

/* Group footer */
.ob_gRGF
{
	background-image: url(group_summary.png);
	color: #353b4d;
	font-family: Verdana;
	font-size: 10px;
}

/* Message displayed when grid has no records */
.ob_gNRM
{
	font-family: Verdana;
	font-size: 10px;
	border: 0px;			
	background-image: url(row1.png);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#ececf0;
	color: #5f627b;
	height: 25px;
	border-bottom: 1px solid #C3C9CE;
}

.ob_gNRM .ob_gCc1
{
    position: relative;
    height: 25px;
    z-index: 15;
    background-image: url(row1.png);
    line-height: 25px;
}

/* Selection area */
.ob_gSA
{
    position: absolute;
    z-index: 999;
    background-color: #F6F7F7;
	border: 1px solid #4B555E;
	font-size: 1px;
}

/* Edit control - backward compatibility */
.ob_gEC
{
	padding: 0px;
	font-family: Verdana;
	font-size: 10px;
	color: #202426;			
	background-color: #FFFFFF;
	width: 96%;
	border: 1px solid #196585;
}

/* Row Edit Template container */
.ob_gRETpl
{
	font-family: Verdana;
	font-size: 10px;
	color: #196585;
	padding: 15px;
	border-top: 1px solid #7BB8D9;
	background-color:#e3e3e8;
	background-image:url(form_bgr.png);
	background-repeat:repeat-x;
	background-position:top;
	border-bottom:1px solid #dbdbe1;
	border-top:1px solid #dbdbe1;
	position: relative;
	z-index: 11;
}

/* Row in THead section of the body table */
.ob_gBTLRV
{
    visibility: hidden;
    *display: none;
}
.ob_gBTLRV td
{
    height: 0px !important;
    font-size: 0px !important;
    padding: 0px;
	margin: 0px;
	border: 0px;
	visibility: hidden;
}



/* Footer */
/* ------ */
.ob_gFCont /*.ob_gridFooterContainer*/
{		
	background-image: url(footer.png);
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	height: 27px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #080808;
	white-space: nowrap;
	z-index: 0;
	overflow: hidden;
	text-align: left;
}

* html .ob_gFCont
{
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gFCont_F_D
{		
	background-image: url(footer.png);
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	height: 27px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #080808;
	white-space: nowrap;
	z-index: 0;
	overflow: hidden;
}

.ob_gPSTT
{
	position: relative;
	top:9px;
	display:-moz-inline-stack;
    display:inline-block;
	height: 19px;
	z-index: 2;
	padding-top: 1px;
}

.ob_gFCont .ob_gPSTT
{
    zoom:1;
    *display:inline;
}

.ob_gPSTD
{
	width: 60px;
	position: absolute;
	right: -65px;
	top: -3px;
}

.ob_gPSTDIC
{
    width: 61px !important;
}

.ob_gFEC
{
    position: absolute;
    top: 6px;
    right: 0px;
    height: 23px;
    white-space: nowrap;
    z-index: 1;
}

.ob_gFCont_F_D .ob_gFEC
{
    width: 100%;
}

/* Container for the action links */
.ob_gFALC
{
    height: 19px;
    line-height: 20px;
    float: right;
    #float: none;
}

.ob_gFCont_F_D .ob_gFALC
{
    float: none;
}

.ob_gFAL
{
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    float: right;
}

a.ob_gALF /*a.ob_gridActionLinkFooter*/
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;
	text-decoration:none;
	padding-right: 1px;
}

a.ob_gALF:hover /*a.ob_gridActionLinkFooter:hover*/
{
	font-family: Verdana;
	font-size: 10px;
	color: #065a8e;
	font-weight: normal;				
	text-decoration: underline;
	padding-right: 1px;
}

.ob_gALFS /*.ob_gridAdd_FilterSpacer*/
{
	width: 30px;
	text-align: center;
	display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    float: right;
}

/* Container for the paging section */
.ob_gFP
{
    float: right;
    #float: none;
    margin-right: 6px;
}

.ob_gFCont_F_D .ob_gFP
{
    width: 305px;
}

/* Container for the text in the paging section */
.ob_gFPT
{
    float: right;
    padding-top: 4px;
}

/* Container for navigation/paging buttons */
.ob_gPBC
{
    float: right;
    cursor: pointer;
    margin-top: 2px;
}

/* Container for the page links */
.ob_gPLC
{        
    float: right;
    padding-top: 2px;
    height: 22px;
}

/* Page link */
.ob_gPLCL
{
    font:normal 11px Verdana;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding:2px 3px 1px 3px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(page_number_normal.png);
    float: left;
    height: 20px;
}

/* Page link - hover */
.ob_gPLCLH
{
    font:normal 11px Verdana;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding:2px 3px 1px 3px;
    border-left: 1px solid #1b314e;
    border-right: 1px solid #1b314e;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(page_number_over.png);
    float: left;
    height: 20px;
}

/* Separator between page links */
.ob_gPLS
{
    font-family: Verdana;
    font-size: 11px;
    color:#44556D;
    font-weight: normal;
    text-decoration:none;
    cursor: default;
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    display: none;
}

/* Page link disabled */
.ob_gPLD
{
    font:normal 11px Verdana;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
    padding:2px 3px 1px 3px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin-left: 2px;
    margin-right: 2px;
    background-image:url(page_number_selected.png);
    background-repeat: repeat-x;
    float: left;
    height: 20px;
}

/* Container for the total number of pages text */
.ob_gTNOP
{
    float: right;
    padding-top: 4px;
    height: 20px;
    margin-left: 3px;
    margin-right: 0px;
}

/* Container for the manual paging section */
.ob_gMPS
{
    float: right;
    padding-top: 2px;
    height: 20px;
    margin-left: 3px;
    margin-right: 0px;
}

/* Container for the manual paging textbox */
.ob_gMPST
{
    float: left;
    margin-left: 4px;
    margin-top: -1px;
}

/* Container for the manual paging action link */
.ob_gMPSL
{
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}





/* Grouping Area */
/* ------------- */

/* Grouping Area - Container */
.ob_gGACont
{
	height: 46px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

/* Grouping Area - Container - With extra top row */
.ob_gGAContWT
{
    height: 41px;
}

/* Grouping Area - Left corner */
.ob_gGACnL
{
	width: 25px;
	height: 46px;
	background-image: url(grouping_area_left.png);
	position: absolute;
	left: -5px;
	top: 0px;
}

* html .ob_gGACnL
{
    -background-image: url(grouping_area_left.gif);
}

.ob_gGAContWT .ob_gGACnL
{
    background-image: url(grouping_area_left_wtop.png);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gGAContWT .ob_gGACnL
{
    -background-image: url(grouping_area_left_wtop.gif);
}

/* main section for grouping area */
.ob_gGA
{
	border:0px solid #FFFFFF;
	background-image: url(grouping_area.png);
	height: 46px;
	position: absolute;
	top: 0px;
	line-height: 41px;	
	left: 20px;
	right: 20px;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
}

* html .ob_gGA
{
    width: 100%;
    -background-image: url(grouping_area.gif);
}

.ob_gGAContWT .ob_gGA
{
    background-position: 0px -4px;
    height: 41px;
}

/* Grouping Area - Default text */
.ob_gGADC
{
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;		
	color: #FFFFFF;
	text-align: left;
	height: 41px;
	line-height: 41px;
	padding-left: 5px;
}

.ob_gGAContWT .ob_gGADC
{
    line-height: 34px;
    font-size: 10px;
}

/* Grouping Area - Right corner */
.ob_gGACnR
{
	width: 25px;
	height: 46px;
	background-image: url(grouping_area_right.png);
	position: absolute;
	right: -5px;
	top: 0px;
}

* html .ob_gGACnR
{
    -background-image: url(grouping_area_right.gif);
}

.ob_gGAContWT .ob_gGACnR
{
    background-image: url(grouping_area_right_wtop.png);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gGAContWT .ob_gGACnR
{
    -background-image: url(grouping_area_right_wtop.gif);
}

/* Grouping - Dragging column */
.ob_gGDC
{
    position: absolute;
    z-index: 999;
    font-family: Verdana;
	font-size: 11px;
	font-weight: normal;		
	color: #2b2b3d;
	text-align: left;				
	border: 1px solid #829fb7;
	background-image: url(header_pressed.png);
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
}

/* Grouping - Groupped dragging column */
.ob_gGDC2
{
    position: absolute;
    z-index: 999;
    line-height: 21px;    
}

/* Grouping - Header column highlighted */
.ob_gHCHWG
{
	background-image: url(header_pressed.png) !important;
}

/* Grouping - Top arrow */
.ob_gGATA
{
	background-image: url(group_arrow_top.png);
	width: 9px;
	height: 9px;
	font-size: 1px;
	padding: 0px;
	z-index: 999 !important;
}

* html .ob_gGATA
{
    -background-image: url(group_arrow_top.gif);
}

/* Grouping - Bottom arrow */
.ob_gGABA
{
	background-image: url(group_arrow_bottom.png);
	width: 9px;
	height: 9px;
	font-size: 1px;
	padding: 0px;
    z-index: 999 !important;
}

* html .ob_gGABA
{
    -background-image: url(group_arrow_bottom.gif);
}

/* Column in grouping area - container */
.ob_gGAC
{	
	cursor: move;
	float: left;
    position: relative;
}

.ob_gGAContWT .ob_gGAC
{
    top: -4px;
}

/* Column in grouping area - left side */
.ob_gGACL
{
	width: 12px;
	background-image: url(grouping_area_column_left_dragging.png);
	position: absolute;
	left: 0px;
	top: 0px;
	height: 19px;
	background-repeat: no-repeat;
}

* html .ob_gGACL
{
    -background-image: url(grouping_area_column_left_dragging.gif);
}

.ob_gGA .ob_gGACL
{		
	background-image: url(grouping_area_column_left.png);
	height: 46px;
}

* html .ob_gGA .ob_gGACL
{
    -background-image: url(grouping_area_column_left.gif);
}

.ob_gGAContWT .ob_gGA .ob_gGACL
{
    height: 41px;		
}

/* Column in grouping area - center */
.ob_gGACM
{
	height: 19px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;		
	color: #080808;
	background-image: none;
	overflow: visible;
	white-space: nowrap;
	text-align: center;	
	background-image: url(grouping_area_column_dragging.png);
	margin-left: 12px;
	margin-right: 12px;
	line-height: 19px;
	background-repeat: repeat-x;
}

* html .ob_gGACM
{
    -background-image: url(grouping_area_column_dragging.gif);
}

.ob_gGA .ob_gGACM
{
	height: 46px;
	background-image: url(grouping_area_column.png);
	padding-top: 1px;
	#zoom:1;
    #display:inline;
    line-height: 41px;
}

.ob_gGAContWT .ob_gGA .ob_gGACM
{
}

* html .ob_gGA .ob_gGACM
{
    -background-image: url(grouping_area_column.gif);
}

/* Column in grouping area - right side */
.ob_gGACR
{
	width: 13px;
	background-image: url(grouping_area_column_right_dragging.png);
	position: absolute;
	right: 0px;
	top: 0px;
	height: 19px;
	background-repeat: no-repeat;
	background-color: Transparent;
}

* html .ob_gGACR
{
    -background-image: url(grouping_area_column_right_dragging.gif);
}

.ob_gGA .ob_gGACR
{
	width: 12px;
	background-image: url(grouping_area_column_right.png);
	height: 46px;
}

* html .ob_gGA .ob_gGACR
{
    -background-image: url(grouping_area_column_right.gif);
}

.ob_gGAContWT .ob_gGA .ob_gGACR
{
    height: 41px;		
}

/* Column in grouping area - spacer/link between columns*/	
.ob_gGACS
{
	height: 34px;
	width: 20px;
	background-image: url(grouping_area_column_spacer.png);
	float: left;
	margin-right: 5px;
	position: relative;
}

.ob_gGAContWT .ob_gGACS
{
    background-position: 0px -4px;
}





/* Horizontal Scroller */
/* ------------------- */

.ob_gSH
{
    position: relative;
    overflow: hidden;
    height: 20px;
    height /*\**/: 16px\9;
    #height: 16px;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gSH
{
    margin-left: 0px;
    margin-right: 0px;
}

.ob_gSH div
{
    width: 100%;
    height: 40px;
    height /*\**/: 36px\9;
    #height: 36px;
	overflow: auto;
	overflow-y: hidden;
	position: absolute;
	top: -20px;
}

.ob_gSH div div
{
    /*height: 20px;*/
    visibility: hidden;
}





/* Filter */
/* ------ */

.ob_gFlCont
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gFlCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gFlICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gFlICont, .ob_gMCont_DT .ob_gFlICont
{
    width: 100%;
}

.ob_gFl
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gFl .ob_gC, .ob_gFl .ob_gCW
{
    background-image: url(filter.png);
    height: 50px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
}

.ob_gFl .ob_gC div.ob_gCc1, .ob_gFl .ob_gCW div.ob_gCc1
{    
    overflow: visible;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* Cells separator */
.ob_gFlCont .ob_gCS, .ob_gFlCont .ob_gCS_F
{
    position: absolute;
    top: 0px;    
    width: 1px;
    background-color: #EEEEEE;
    font-size: 1px;
}

.ob_gFlCont .ob_gCS
{
    bottom: 0px;
}





/* Columns Footer */
/* ------ */

.ob_gCFCont
{
    position: relative;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

* html .ob_gCFCont
{
    width: 100%;
    #margin-left: 0px;
    #margin-right:0px;
}

.ob_gCFICont
{
    position: relative;
    overflow: hidden;
}

* html .ob_gCFICont, .ob_gMCont_DT .ob_gCFICont
{
    width: 100%;
}

.ob_gCFR
{
    border-collapse: collapse;
    table-layout: fixed;
}

.ob_gCFR .ob_gC, .ob_gCFR .ob_gCW
{
    /*background-image: url(summary.png);*/
    border-top: 2px solid black !important;
    background-color: #DDDDDD;
    height: 25px;
    font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #701f03;
	text-align: left;
}

.ob_gCFR .ob_gC div.ob_gCc1, .ob_gCFR .ob_gCW div.ob_gCc1
{    
    overflow: visible;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Cells separator */
.ob_gCFCont .ob_gCS, .ob_gCFCont .ob_gCS_F
{
    position: absolute;
    top: 0px;
    width: 1px;
    background-color: #EEEEEE;
    font-size: 1px;
}

.ob_gCFCont .ob_gCS
{
    bottom: 0px;
}





/* Master/Detail */
/* ------------------- */

/* Row containing a detail grid */
.ob_gDGC
{
}

/* The container of a detail grid */
.ob_gDGCCT
{
    background-color: #F6F7F7;
    padding-left: 20px;
    z-index: 15;
    position: relative;
    width: 100%;
}

.ob_gDGCCIT
{
    width: 100%;
    position: relative;
}

/* Cell containing the +/- buttons for expanding/collapsing the detail grids */
.ob_gDGE
{
}
.ob_gDGE div.ob_gCc1
{
    position: relative !important;
}

/* Container for the +/- buttons for expanding/collapsing the detail grids */ 
.ob_gDGEB
{
    position: absolute;
    height: 24px;
    width: 19px;
    top: 50%;
    overflow: visible;
}

.ob_gDGEB img
{
    margin-top: -12px;
    position: absolute;
    cursor: pointer;
}

/* Loading message displayed while a detail grid is loading (OnCallback)*/
td.ob_gBLM
{
    background-color: #F6F7F7;
    text-align: center;
    font-family: Verdana;
	font-size: 10px;
	color:#0C416F;
	height: 20px;
}
td.ob_gBLM div
{
    position: relative;
    z-index: 15;
    height: 20px;
    line-height: 20px;
    background-color: #F6F7F7;
}





/* Corners displayed at the top of the grid */
/* ------ */

/* Container for the top corners */
.ob_gHCnC
{
	height: 17px;
	position: relative;
	background-image: url(header_corner_middle.png);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

* html .ob_gHCnC
{
    -background-image: url(header_corner_middle.gif);
}

/* Left corner */
.ob_gHCnL
{
	background-image: url(header_corner_left.png);
	height: 17px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

* html .ob_gHCnL
{
    -background-image: url(header_corner_left.gif);
}

/* Right corner */
.ob_gHCnR
{
	background-image: url(header_corner_right.png);
	height: 17px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	right: -25px;
}

* html .ob_gHCnR
{
    -background-image: url(header_corner_right.gif);
}





/* Corners displayed at the bottom of the grid */
/* ------ */

/* Container for the bottom corners */
.ob_gFCnC
{
	height: 16px;
	position: relative;
	background-image: url(footer_corner_middle.png);
	background-repeat: repeat-x;
	font-size: 1px;
	margin-left: 20px;
	margin-right: 20px;
}

* html .ob_gFCnC
{
    -background-image: url(footer_corner_middle.gif);
}

/* Left corner */
.ob_gFCnL
{
	background-image: url(footer_corner_left.png);
	height: 16px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	left: -25px;
}

* html .ob_gFCnL
{
    -background-image: url(footer_corner_left.gif);
}

/* Right corner */
.ob_gFCnR
{
	background-image: url(footer_corner_right.png);
	height: 16px;
	width: 25px;
	background-repeat: no-repeat;
	position: absolute;
	right: -25px;
}

* html .ob_gFCnR
{
    -background-image: url(footer_corner_right.gif);
}




.ob_gFContT /*.ob_gridFooterContainerTop*/
{		
	background-image: url(grouping_area.png);
	padding: 0px;
	margin-top: 0px;	
	border: 0px;
	height: 46px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	white-space: nowrap;
	z-index: 0;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}

* html .ob_gFContT
{
    -background-image: url(grouping_area.gif);
}

.ob_gFContTWT
{
    height: 41px;
    background-position: 0px -4px;
}

.ob_gFContTL
{
    width: 25px;
	height: 46px;
	background-image: url(grouping_area_left.png);
	position: absolute;
	left: -25px;
	top: 0px;
}

* html .ob_gFContTL
{
    -background-image: url(grouping_area_left.gif);
}

.ob_gFContTWT .ob_gFContTL
{
    background-image: url(grouping_area_left_wtop.png);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gFContTWT .ob_gFContTL
{
    -background-image: url(grouping_area_left_wtop.gif);
}

.ob_gFContTR
{
    width: 25px;
	height: 46px;
	background-image: url(grouping_area_right.png);
	position: absolute;
	right: -25px;
	top: 0px;
}

* html .ob_gFContTR
{
    -background-image: url(grouping_area_right.gif);
}

.ob_gFContTWT .ob_gFContTR
{
    background-image: url(grouping_area_right_wtop.png);
    background-position: 0px -4px;
    background-repeat: no-repeat;
}

* html .ob_gFContTWT .ob_gFContTR
{
    -background-image: url(grouping_area_right_wtop.gif);
}

.ob_gFContTWG, .ob_gFContTWG .ob_gFContTL, .ob_gFContTWG .ob_gFContTR
{
    height: 39px;
}

.ob_gFContTWT_WG, .ob_gFContTWT_WG .ob_gFContTL, .ob_gFContTWT_WG .ob_gFContTR
{
    height: 35px;
}

.ob_gFContT .ob_gPSTT
{
    top: 14px;
}

.ob_gFContTWT .ob_gPSTT
{
    top: 10px;
}

.ob_gFContT .ob_gPSTT, .ob_gFContTWT .ob_gPSTT
{
    zoom:1;
    *display:inline;
}

.ob_gFContT .ob_gFEC
{
    top: 11px;
    right: -15px;
}


.ob_gFContTWT .ob_gFEC
{
    top: 7px;
}

.ob_gFContT a.ob_gALF
{
    color: #FFFFFF;
}

.ob_gFContT .ob_gFP
{
    height: 21px;
    #height: auto;
    overflow: hidden;
    #overflow: visible;
}



/* Heading */
.ob_gHeadingCont
{		
	background-image: url(grouping_area.png);
	padding: 0px;
	margin-top: 0px;	
	border: 0px;
	height: 46px;
	padding-left: 5px;
	padding-top: 0px;
	line-height: 43px;
	padding-bottom: 0px;
	vertical-align: middle;
	position: relative;
	cursor: default;
	font-size: 11px;
    font-family: Verdana;
    color: #FFFFFF;
	white-space: nowrap;
	z-index: 0;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}

* html .ob_gHeadingCont
{
    -background-image: url(grouping_area.gif);
}

.ob_gHCLS
{
    width: 25px;
	height: 46px;
	background-image: url(grouping_area_left.png);
	position: absolute;
	left: -25px;
	top: 0px;
}

* html .ob_gHCLS
{
    -background-image: url(grouping_area_left.gif);
}

.ob_gHCRS
{
    width: 25px;
	height: 46px;
	background-image: url(grouping_area_right.png);
	position: absolute;
	right: -25px;
	top: 0px;
}

* html .ob_gHCRS
{
    -background-image: url(grouping_area_right.gif);
}

.ob_gHeadingContWG, .ob_gHeadingContWG .ob_gHCLS, .ob_gHeadingContWG .ob_gHCRS
{
    height: 39px;
    line-height: 43px;    
}

* html .ob_gHeadingContWG, * html .ob_gHeadingContWG .ob_gHCLS, * html .ob_gHeadingContWG .ob_gHCRS
{
    -overflow-y: hidden;
}


/* Virtual Scrolling */
.ob_gVSPIC
{
    position: absolute;
    width: 100px;
    height: 20px;
    line-height: 18px;
    border: 1px solid #DDD;
    z-index: 999;
    font-family: Verdana;
	font-size: 10px;
	color: #080808;
	text-align: center;
    background-image: url(header.png);
}