﻿
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/UBUNTU.eot');
    src: url('../fonts/UBUNTU.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UBUNTU.woff') format('woff'),
         url('../fonts/UBUNTU.ttf') format('truetype');
}

@font-face {
    font-family: 'Shojumaru';
    src: url('../fonts/SHOJUMARU.eot');
    src: url('../fonts/SHOJUMARU.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SHOJUMARU.woff') format('woff'),
         url('../fonts/SHOJUMARU.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/KARLA.eot');
    src: url('../fonts/KARLA.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KARLA.woff') format('woff'),
         url('../fonts/KARLA.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.eot');
    src: url('../fonts/Raleway.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway.woff') format('woff'),
         url('../fonts/Raleway.ttf') format('truetype');
}