﻿ol {
    margin-bottom: 8px !important;
}

/* 1- SE USAN EN LOS FORM PARA INDICAR QUE ES EL PRIMER O LOS SIGUIENTES CONTROLES */
.primerControl {
    margin-top: 6px;
}

.siguientesControles {
    margin-top: 16px;
}
/* FIN 1 */

/* 2- EVITAR QUE LOS CHECKBOX SALGAN EN DOS LINEAS: O SEA EN UNA SALIAN EL CHECK Y EN LA SE ABAJO EL LABEL*/
/* CON ESTOS 3 ESTILOS SE EVITA ESO Y APARECE TODO EN UNA SOLA LINEA. */
.checkChoto input {
    vertical-align: middle;
    text-align: right;
}

.checkChoto label {
    display: inline;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: left;
}
/* FIN 2 */

.bloquotePopup {
    line-height: 1pt;
    font-size: 11px;
    color: #888;
}

/* Aplicable a los botones de Pendientes*/
.butt {
    margin-bottom: 10px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75);
}

    .butt:hover {
        text-decoration: underline;
    }
/* Es un botón pero además un dropDownList*/
.buttDropDown {
    text-align: left;
}

    .buttDropDown option {
        padding: 5px;
    }

    .buttDropDown:hover {
        text-decoration: none;
    }

/* ESTILOS PARA LOS BREADCUMBS ACTIVOS */
.breadActivo {
    text-decoration: none;
    color: black;
}

.breadLink {
    text-decoration: underline;
}



#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: #FFF;
    border-top: 1px solid #999;
    background-color: #F0F0F0;
    padding-top: 0px;
    font-size: 9pt;
}

.monedaTD {
    text-align: right !important;
}

.monedaCenter {
    text-align: center !important;
}

.sumaTR {
    background-color: #DDDDDD !important;
}

    .sumaTR:hover {
        background-color: #DDDDDD !important;
    }

.achicar tbody tr td {
    font-size: 0.85em !important;
    padding: 2px !important;
}


/*MENU PRINCIPAL ACCORDION STYLE */
.accordion > ul {
    display: none;
    margin-left: 10px;
}

.ui-accordion {
    width: 100%;
}

    .ui-accordion .ui-accordion-header {
        cursor: pointer;
        position: relative;
        margin-top: 1px;
        zoom: 1;
    }

    .ui-accordion .ui-accordion-li-fix {
        display: inline;
    }

    .ui-accordion .ui-accordion-header-active {
        border-bottom: 0 !important;
    }

    .ui-accordion .ui-accordion-header a {
        display: block;
        font-size: 1em;
        padding: .5em .5em .5em .7em;
    }

.ui-accordion-icons .ui-accordion-header a {
    padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1;
}

.ui-accordion .ui-accordion-content-active {
    display: block;
}

.nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 10px;
}

.nav-pills > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 10px;
}
/* FIN MENU PRINCIPAL */


.gridCenter {
    text-align: center !important;
}

.inputCompacto {
    margin: 2px !important;
    padding: 2px !important;
    border-width: 0px !important;
}

.inputCompacto2 {
    margin: 0px !important;
    padding: 0px !important;
    border-width: 0px !important;
}


/*POnerle esto al table */
.celdasText tbody tr td {
    padding: 0px !important;
}

.table-header tr th {
    background-color: #DDD !important;
}

.table-footer tr:last-child {
    background-color: #DDD !important;
}

table tr td, th { /*styles para que en firefox salgan los bordes de la tabla gris claritos. Sino salen gris oscuros */
    border-color: #DDDDDD !important;
}


@media print {
    .divNoPrint {
        display: none;
    }
}


/* OBOUT GRID STYLES */
.ob_iTIE, .ob_iDdlIE {
    /* Cajas de Texto en modo editar de las celdas. Y también la caja de texto del page size.*/
    background-color: inherit !important;
    padding: 0px !important;
    border: 0px solid white !important;
}

.abcd {
    margin-top: 0px !important;
}

.ob_gCc2 {
    /* Items Styles de la Celda */
    padding-left: 3px !important;
}



#ui-datepicker-div {
    z-index: 6000 !important;
}



/*Ocultar el control, pero no hacerlo invisible. Util para cuando queremos que sigan andando lo botones (asp:panel defaultbutton)*/
.ocultoPeroNoInvisible {
    width: 0px !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}


.btn:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.btn[readonly], .btn[disabled], .btn.disabled {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
    cursor: not-allowed  !important;
}

.breadcrumb {
    margin: 0 0 5px;
}

.form-horizontal .control-group {
    margin-bottom: 6px;
}