﻿
.modalBackground
{
    background-color: #222;
    filter: alpha(opacity=50);
    opacity: 0.75;    
}

.modalPopup
{
	background-color:#ffffdd;
	border-bottom-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;  
}

.confirmModal
{
	background-color:#FFFFFF;
    border: 2px solid #CCCCCC;
	padding:3px;
	width:450px;  
    top: 200px !important;
}

