﻿#progressBackgroundFilter {
    
    /*position:fixed;     
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:#000; 
    filter:alpha(opacity=20); 
    opacity:0.5; 
    z-index:1000;  */

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color:#000;
    filter:alpha(opacity=20); 
    opacity:0.2; 
    z-index: 1000;
    
}

#processMessage { 
    /*position:fixed; 
    top:31%; 
    left:43%;
    padding:10px; 
    width:14%; 
    z-index:1001; 
    background-color:#fff;
    border:solid 1px #000;*/

    position: fixed;
    top: 31%;
    left: 43%;
    padding: 10px;
    width: 14%;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.modalNormalPostBack
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=20);
    opacity: 0.5;
    z-index: 1000;
}

.loadingNormalPostBack
{
    position: fixed;
    top: 31%;
    left: 43%;
    padding: 10px;
    width: 14%;
    display: none;
    z-index: 1001;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}