﻿.customCalloutStyle div, .customCalloutStyle td
{
    border: solid 1px Black;
    background-color: #FFFACD;
}
.customCalloutStyle .ajax__validatorcallout_popup_table
{
    display: none;
    border: none;
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_popup_table_row
{
    vertical-align: top;
    height: 100%;
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_cell
{
    width: 20px;
    height: 100%;
    text-align: right;
    vertical-align: top;
    border: none;
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_table
{
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_table_row
{
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell
{
    padding: 8px 0px 0px 0px;
    text-align: right;
    vertical-align: top;
    font-size: 1px;
    border: none;
    background-color: transparent;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv
{
    font-size: 1px;
    position: relative;
    left: 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 15px;
    background-color: transparent;
    padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div
{
    height: 1px;
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 0px;
    margin-left: auto;
}
.customCalloutStyle .ajax__validatorcallout_error_message_cell
{
    font-family: Tahoma, Calibri, Arial;
    font-size: 13px;
    padding: 5px;
    border-right: none;
    border-left: none;
    width: 100%;
    color: Black;
}
.customCalloutStyle .ajax__validatorcallout_icon_cell
{
    width: 20px;
    padding: 5px;
    border-right: none;
}
.customCalloutStyle .ajax__validatorcallout_close_button_cell
{
    vertical-align: top;
    padding-right: 10px;
    padding-top: 2px;
    text-align: right;
    border-left: none;
}
.customCalloutStyle .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv
{
    border: none;
    text-align: center;
    width: 10px;
    padding: 2px;
    cursor: pointer;
}
