	/* Left */
	.ob_iTL
	{
		position: absolute;
    	font-size: 1px;
    	height: 21px;
    	width: 10px;
    	left: 0px;
    	background-image: url(images/textbox.png);
	}
	
	* HTML .ob_iTL
	{
	    -background-image: url(images/textbox.gif);
	}
	
	/* Content */
	.ob_iTC
	{
		height: 21px;
		line-height: 21px;
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		background-image: url(images/textbox.png);
	}
	
	* HTML .ob_iTC
	{
	    -background-image: url(images/textbox.gif);
	}
	
	/* Right */
	.ob_iTR
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 21px;
		width: 10px;
		right: 0px;
		background-image: url(images/textbox.png);
	}
	
	* HTML .ob_iTR
	{
	    -background-image: url(images/textbox.gif);
	}
	
	/* Input Element */
	.ob_iTIE
	{
		width: 100%;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		display: block;
    	background-color: transparent;
    	border: 0px;
    	margin: 0px;
    	padding: 0px;    	
    	margin-top: 0px !important;
    	font-family: Verdana !important;
		font-size: 10px !important;
		height: 20px !important;
		outline: 0;
	}
	
	.ob_iTCIC
	{
		display: none;
	}
	
	
	
	
	
	/* Normal State - container */
	.ob_iTCN
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
    	color: #2b4c61;
    	vertical-align: middle;
	}
	
	/* Normal State - left */
	.ob_iTCN .ob_iTL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - content */
	.ob_iTCN .ob_iTC
	{
		background-position: 0px -84px;
	}
	
	.ob_iTCN .ob_iTIE
	{
	    color: #2b4c61;
	}
		
	/* Normal State - right */
	.ob_iTCN .ob_iTR
	{
		background-position: -10px 0px;
	}
	
	
	
	
	/* Over State - container */
	.ob_iTCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
    	vertical-align: middle;
	}
	
	/* Over State - left */
	.ob_iTCO .ob_iTL
	{
		background-position: 0px -21px;
	}
	
	/* Over State - content */
	.ob_iTCO .ob_iTC
	{
		background-position: 0px -105px;
	}
	
	.ob_iTCO .ob_iTIE
	{
	    color: #063e61;
	}
	
	/* Over State - right */
	.ob_iTCO .ob_iTR
	{
		background-position: -10px -21px;
	}
	
	
	
	
	
	/* Active State - container */
	.ob_iTCA
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
    	vertical-align: middle;
	}
	
	/* Active State - left */
	.ob_iTCA .ob_iTL
	{
		background-position: 0px -42px;
	}
	
	/* Active State - content */
	.ob_iTCA .ob_iTC
	{
		background-position: 0px -126px;
	}
	
	.ob_iTCA .ob_iTIE
	{
	    color: #0e4c73;
	}
	
	/* Active State - right */
	.ob_iTCA .ob_iTR
	{
		background-position: -10px -42px;
	}
	
	
	
	
	
	/* Disabled State - container */
	.ob_iTCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
        height: 21px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
    	vertical-align: middle;
	}
	
	/* Disabled State - left */
	.ob_iTCD .ob_iTL
	{
		background-position: 0px -63px;
	}
	
	/* Disabled State - content */
	.ob_iTCD .ob_iTC
	{
		background-position: 0px -147px;
	}
	
	.ob_iTCD .ob_iTIE
	{
	    color: #5b676d;
	}
	
	/* Disabled State - right */
	.ob_iTCD .ob_iTR
	{
		background-position: -10px -63px;
	}